{% extends 'base.html.twig' %}

{% block title %}{{ bd.titre }}{% endblock %}

{% block body %}
<div class="row mt-5">
    <div class="col-7 d-flex justify-content-center ms-4">
        <img src="/image/{{ bd.imageBd }}" alt="{{ bd.titre }}">
    </div>
    <div class="col-4 bg-primary-subtle d-flex justify-content-center py-5">
        <div>
            <h1>{{ bd.titre }}</h1>
            <br>
            <p><b>Auteur :</b> {{ bd.auteur }}</p>
            <p><b>Editeur :</b> {{ bd.editeur }}</p>
            <p><b>Apparu le :</b> {{ bd.dateEdition|date('d/m/Y') }}</p>
            <p><b>Prix :</b> {{ bd.prix }}€</p>
            {% if bd.stock == 0 %}
                <br>
                <p class="fs-4"><b>Cette bd n'est plus en stock</b></p>
            {% else %}
                <p><b>Stock :</b> {{ bd.stock }}</p>
                <br>
                <a href="{{ path('app_panier_add', {'id': bd.id}) }}" class="btn btn-lg btn-primary">Panier</a>
            {% endif %}
            
        </div>
    </div>
</div>
<br>
<div class="bg-primary-subtle d-flex justify-content-center py-5">
    <div class="mx-4">
        <h2>Resume :</h2>
        <p>{{ bd.resume }}</p>
    </div>
</div>
{% endblock %}
