{% extends 'base.html.twig' %}

{% block title %}Profile utilisateur{% endblock %}

{% block body %}

    <h1 class="mt-3">Mes commande</h1>
    {% set total = 0 %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">BD</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Quantiter</th>
            <th scope="col">Prix</th>
        </tr>
        </thead>
        <tbody>
        {% for detail in details %}
            <tr>
                <td>{{ detail.bd.titre }}</td>
                <td>{{ detail.bd.prix }}€</td>
                <td>{{ detail.nbCommander }}</td>
                <td>{{ (detail.bd.prix * detail.nbCommander) }}€</td>
                {% set total = total + (detail.bd.prix * detail.nbCommander) %}
            </tr>
        {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td><b>total a payer</b></td>
                <td><b>{{ total }}€</b></td>
            </tr>
        </tbody>
    </table>

{% endblock %}