{% extends 'base.html.twig' %}

{% block title %}Profile utilisateur{% endblock %}

{% block body %}
{% if app.user.id == user.id %}
<div class="row d-flex justify-content-center mt-5">
    <div class="col-6 bg-primary-subtle">
        <div class="d-flex justify-content-center">
           <div>
                <h1>profile utilisateur</h1>
                <div class="mt-5 row d-flex justify-content-center">
                    <p class="col-10 "><b>Nom :</b> {{ user.nomUser}}</p>
                    <p class="col-10"><b>Prenom :</b> {{ user.prenomUser}}</p>
                    <p class="col-10"><b>Email :</b> {{ user.email }}</p>
                    <p class="col-10"><b>Adresse facturation :</b> {{ user.adresseFacturation}}</p>
                    <p class="d-flex justify-content-center">{{user.cpFacturation}} {{user.villeFacturation}}</p>
                    <p class="col-10"><b>Adresse livraison :</b> {{ user.adresseLivraison}}</p>
                    <p class="col-10 d-flex justify-content-center">{{user.cpLivraison}} {{user.villeLivraison}}</p>
                    <a href="{{ path('app_profile_modif', {'id': user.id}) }}" class="btn btn-primary mb-5 col-10">Modifier</a>
                </div>
           </div>
        </div>
    </div>
</div>
{% else %}
    <div class="container d-flex flex-column justify-content-center min-vh-100">
        <div class="text-center pt-4 mt-lg-2">
            <h1 class="display-5 text-primary">404 Page introuvable</h1>
            <a class="btn btn-primary" href="{{ path('app_home') }}">Acceuil</a>
        </div>
    </div>
{% endif %}
{% endblock %}

