{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    {% if app.user.id == user.id %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<div class="row d-flex justify-content-center mt-5">
    <div class="col-6 bg-primary-subtle">
        <div class="d-flex justify-content-center w-100">
            <div>
                <h1 class="mt-4">Modifier de mot de passe</h1>
                {{ form_start(form) }}
                <div class="w-100 mt-3">
                    {{ form_row(form.plainPassword) }}
                </div>
                <div class="w-100 mt-3">
                    {{ form_row(form.newPassword) }}
                </div>
                <div class="d-flex my-5">
                    {{ form_row(form.submit) }}
                    <a href="{{ path('app_home') }}" class="ms-3 btn btn-primary mb-3">retour</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
    {% else %}
        <div class="container d-flex flex-column justify-content-center min-vh-100">
            <div class="text-center pt-4 mt-lg-2">
                <h1 class="display-5 text-primary">404 Page introuvable</h1>
                <a class="btn btn-primary" href="{{ path('app_home') }}">Acceuil</a>
            </div>
        </div>
    {% endif %}
{% endblock %}