{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<div class="row d-flex justify-content-center mt-5">
    <div class="col-6 bg-primary-subtle">
        <div class="d-flex justify-content-center w-100">
            {{ form_errors(registrationForm) }}
            <div>
                <h1 class="h3 mt-5 font-weight-normal fs-2">Inscription</h1>

                {{ form_start(registrationForm, {attr:{id: 'registration'}}) }}
                <div class="w-100 mt-3">
                    {{ form_row(registrationForm.nomUser, {
                    label: 'Nom'
                    }) }}
                    <span id="erreurNom" class="text-danger"></span>
                </div>
                <div class="w-100 mt-3">
                    {{ form_row(registrationForm.prenomUser, {
                    label: 'Prenom'
                    }) }}
                    <span id="erreurPrenom" class="text-danger"></span>
                </div>
                <div class="w-100 mt-3">
                    {{ form_row(registrationForm.type) }}
                    <span id="erreurType" class="text-danger"></span>
                </div>
                <div class="w-100 mt-3">
                    {{ form_row(registrationForm.email) }}
                    <span id="erreurEmail" class="text-danger"></span>
                </div>     
                <div class="w-100 mt-3">
                    {{ form_row(registrationForm.adresseFacturation, {
                    label: 'Adresse'
                    }) }}
                    <span id="erreurAdresse" class="text-danger"></span>
                </div>
                <div class="w-100 mt-3">
                    {{ form_row(registrationForm.villeFacturation, {
                    label: 'Ville'
                    }) }}
                    <span id="erreurVille" class="text-danger"></span>
                </div>
                <div class="w-100 mt-3">
                    {{ form_row(registrationForm.cpFacturation) }}
                    <span id="erreurCode" class="text-danger"></span>
                </div>
                <div class="w-100 mt-3">
                    {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                    }) }}
                    <span id="erreurPassword" class="text-danger"></span>
                </div>

                <div class="d-flex mt-5 mb-4">
                    <button type="submit" class="btn btn-primary">Enregistre</button>
                    <a href="{{ path('app_login') }}" class="btn btn-primary ms-4">déjà un compte</a>
                </div>
            </div>

            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}