{% extends 'base.html.twig' %}

{% block title %}resultat de la recherche{% endblock %}

{% block body %}
{% if app.request.method == 'POST' %}
    <div>
        {% if bds | length == 0 %}
            <h1>Aucun résulat pour votre recherche.</h1>
            <a href="{{ path('app_home') }}" class="btn btn-primary">Acceuil</a>
           {% else %}
               <h1 class="mt-3">Vos résulats de recherche :</h1>
               <div class="row">
                   {% for bd in bds %}
                       <div class="col-lg-4 mb-3 d-flex justify-content-center">
                           <div class="card " style="width: 18rem;">
                               <img src="{{ bd.imageBd }}" class="card-img-top" alt="{{ bd.titre }}">
                               <div class="card-body">
                                   <h2 class="card-title">{{ bd.titre }}</h2>
                                   <a href="{{ path('app_bd', {'id': bd.id}) }}" class="btn btn-primary">Detail</a>
                               </div>
                           </div>
                       </div>
                   {% endfor %}
               </div>
               <a href="{{ path('app_home') }}" class="btn btn-primary mt-3">Acceuil</a>
          {% endif %}
     </div>
{% endif %}
{% endblock %}
