{% extends 'base.html.twig' %}

{% block title %}livraison{% endblock %}

{% block body %}
    <h1 class="my-3">Livraison</h1>
    <form action="{{ path('app_livraison') }}" method="post">
        <div class="row mb-5">
            {% for transporteur in transporteurs %}
                <div class="col-lg-4 mb-3 d-flex justify-content-center">
                    <div class="card bg-primary-subtle" style="width: 18rem;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">{{ transporteur.nomTransporteur }}</h3>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p><b>Livraison standard:</b></p>
                                    <p>{{ transporteur.fraisLivraison }}€</p>
                                </div>'
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="{{ transporteur.id }}1" id="{{ transporteur.id }}1" value="{{ transporteur.fraisLivraison }}">
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p><b>Livraison rapide:</b></p>
                                    <p>{{ transporteur.fraisLivraisonRapide }}€</p>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="{{ transporteur.id }}2" id="{{ transporteur.id }}2" value="{{ transporteur.fraisLivraisonRapide }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    <div class="mb-3 d-flex justify-content-center">
        <div>
            <h2>Coordonnee de livraison</h2>
            <div class="d-flex justify-content-center">
                <div>
                    <p><b>Nom:</b> {{ app.user.nomUser }}</p>
                    <p><b>Prenom:</b> {{ app.user.prenomUser }}</p>
                    <p><b>Adresse:</b> {{ app.user.adresseLivraison }}</p>
                    <p><b>Code postal:</b> {{ app.user.cpLivraison }}</p>
                    <p><b>Ville:</b> {{ app.user.villeLivraison }}</p>
                </div>
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Payer</button>
    </div>
    </form>
{% endblock %}
