{% extends 'base.html.twig' %}

{% block title %}Adminitration{% endblock %}

{% block body %}
    <h1>Adminitration</h1>

    <div class="container d-flex justify-content-center ">
        <a class="btn btn-lg btn-primary me-5" href="{{ path('app_admin_commande') }}">commande</a>
        <a class="btn btn-lg btn-primary me-5" href="#">BD</a>
        <a class="btn btn-lg btn-primary" href="{{ path('app_admin_categorie') }}">SousCategorie</a>
    </div>

    <div class="container d-flex justify-content-center mt-5">
        <a class="btn btn-primary" href="{{ path('app_admin_bd_ajout') }}">ajout BD</a>
    </div>

    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Editeur</th>
            <th scope="col">Categorie</th>
            <th scope="col">Prix</th>
            <th scope="col">Suppretion</th>
          </tr>
        </thead>
        <tbody>
            {% for bd in bds %}    
            <tr>
                <th scope="row">{{ bd.titre }}</th>
                <td>{{ bd.auteur }}</td>
                <td>{{ bd.editeur }}</td>
                <td>{{ bd.categorie.nomCategorie }}</td>
                <td>{{ bd.prix }}</td>
                <td><a href="{{ path('app_admin_bd_supprimer', {'id': bd.id}) }}" class="btn btn-primary ms-5"><i class='bx bxs-trash' ></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(bds) }}
    </div>
{% endblock %}