{% extends 'base.html.twig' %}

{% block title %}Adminitration{% endblock %}

{% block body %}
<h1>Adminitration</h1>

<div class="container d-flex justify-content-center ">
    <a class="btn btn-lg btn-primary me-5" href="#">commande</a>
    <a class="btn btn-lg btn-primary me-5" href="{{ path('app_admin_bd') }}">BD</a>
    <a class="btn btn-lg btn-primary" href="{{ path('app_admin_categorie') }}">SousCategorie</a>
</div>


<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Date de commande</th>
            <th scope="col">Client</th>
            <th scope="col">Etat de la commande</th>
            <th scope="col">Montant</th>
            <th scope="col">Retard de livraison</th>
        </tr>
    </thead>
    <tbody>
        {% for commande in commandes %}
        <tr>
            <th scope="row">{{ commande.dateCommande|date('d/m/Y') }}</th>
            <td>{{ commande.user.nomUser }} {{ commande.user.prenomUser }}</td>
            <td>
                <a href="{{ path('app_admin_commande_edit', {'id': commande.id}) }}" class="text-black link-offset-2 link-underline link-underline-opacity-0 ms-5">
                    {% if commande.etatCommande == 0 %}
                        Validée
                    {% else %}
                        {% if commande.etatCommande == 1 %}
                            En préparation
                        {% else %}
                            {% if commande.etatCommande == 2 %}
                                En cours de livraison
                            {% else %}
                                {% if commande.etatCommande == 3 %}
                                    Livrée
                                {% else %}
                                    Annulée
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </a>

            </td>
            <td>{{ commande.montantCommande }}</td>
            <td>
                <a href="{{ path('app_admin_commande_retard',{"id": commande.id}) }}" class="text-black link-offset-2 link-underline link-underline-opacity-0 ps-2 ms-5">
                    {% if commande.livraison.retardEventuel %}
                        Oui
                    {% else %}
                        Non
                    {%endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}